[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mkdocs = "*"
tox = "*"

[packages]
requests = "*"
click = "*"
tox-pipenv = "*"

[requires]
python_version = "3.7"
